{
    "presets": [
        ["@babel/preset-env", { "loose": true }]
    ],
    "plugins": [
        "@babel/proposal-class-properties",
        "add-module-exports"
    ],
    "env": {
        "development": {
            "sourceMaps": "inline"
        }
    }
}
