{
  "presets": [
    ["@babel/preset-env", { "loose": true }]
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "add-module-exports",
    "precompile-charcodes"
  ],
  "env": {
    "development": {
      "sourceMaps": "inline"
    }
  }
}
