sudo: false

language: node_js
matrix:
  include:
    - node_js: '8'
    - node_js: '7'
    - node_js: '6'
    - node_js: '5'
    - node_js: '4'

after_success:
  - './node_modules/.bin/nyc report --reporter=text-lcov | ./node_modules/.bin/coveralls'
